body {
 background-color: bisque; 
color: black;
}

#app {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  
  
}

#cardHeader {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}




#buttons {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  ;
}
